#requirements.txt
#terminal command:pip install -r requirements.txt
numpy
pandas
statsmodels
scipy
sklearn
matplotlib
zipline
pyfolio
quantopian
alphalens
sympy
scikit-learn
spacy
textacy
textblob
mpengine
TensorFlow

